<!DOCTYPE html>
<html>
<head>
  <title>GamesApp</title>  

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:white">GamesApp.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
           <p style="margin-right: 40px;color:white;">Welcome <%=current_user.email%></p>
            </div>
            <button type="submit" class="btn btn-default"><%= link_to 'Sign out', destroy_user_session_path, :method=> :delete %></button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
	   

<%= yield %>
  

  <%if params[:action]=='play'%>
  <%= javascript_include_tag 'memokey' %>
  <%end%>
</body>
</html>
